.slider h3,
.slider h5,
.clients h3 {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.parallax-container {
  height: 20%;
}

.parallax img {
  filter: grayscale(1);
  opacity: 0.5 !important;
}

.clients img {
  max-width: 150px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.8));
}

.social-media {
  margin-top: 20px;
  display: flex; /* Add flex display */
  align-items: center; /* Align items in the center vertically */
}

.social-media a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #fff;
}

.social-media img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  vertical-align: middle;
}
.logo {
  height: 60px; /* Sesuaikan tinggi logo sesuai kebutuhan */
  width: auto; /* Lebar akan disesuaikan agar tetap proporsional */
  margin-top: 10px; /* Sesuaikan jarak atas logo dari bagian atas navbar */
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Tambahkan efek bayangan pada kartu */
  transition: box-shadow 0.3s ease; /* Animasi perubahan efek bayangan */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Efek bayangan saat hover */
}
.card-title,
.card-title,
.price {
  font-weight: bold; /* Menjadikan teks tebal */
  color: rgb(8, 114, 8); /* Memberikan warna hijau */
}
